<div class="logo">
  <h1>Time Tracker</h1>
</div>

<% if user_signed_in? %>
  <ul class="nav nav-tabs mr-auto custom-nav">
    <li class="nav-item nav-link #{active? root_path}">
      <%= link_to '', root_path, class: "fa fa-home fa-lg" %>
    </li>

    <%= render 'shared/employee_nav_items' if employee? %>

    <%= render 'shared/audit_log_tab' if admin? %>

    <li class="nav-item dropdown ml-auto">
      <a class="nav-link  fa fa-cog fa-lg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu">

          <%= render 'shared/admin_dropdown' if admin? %>

          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
    </li>
  </ul>
<% end %>
